* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar {
  display: flex;
  /* đẩy hai phần tử ra hai bên */
  justify-content: space-between;
}
.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
  display: flex;
  align-items: center;
  width: 50%;
  display: flex;
}

.header__navbar-list:last-child {
  display: flex;
  justify-content: flex-end;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
  z-index: 1;
}
.header__navbar-user {
  display: flex;
  justify-content: center;
  width: 22px;
  height: 22px;
  width: auto;
  position: relative;
}
.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.3rem;
  font-weight: 300;
}
.header__navbar-user-menu {
  position: absolute;
  z-index: 1;
  padding-left: 0;
  top: 30px;
  right: -20px;
  background-color: var(--white-color);
  border-radius: 2px;
  width: 160px;
  list-style: none;
  box-shadow: 0 1px 2px #e4e3e3;
  display: none;
  animation: headerNotifyGrowth ease-in 0.16s;
}
.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}
.header__navbar-user-menu::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: 0;
  width: 54%;
  height: 8px;
}
.header__navbar-user-menu::before {
  content: "";
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 40px;
  top: -20px;
}

.header__navbar-user-item {
  height: 40px;
}
.header__navbar-user-item--separate {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.header__navbar-user-item a {
  height: 100%;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  padding: 6px 16px;
  line-height: 28px;
}
.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover {
  background-color: #fafafa;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}
.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}
.header__navbar-item-link ion-icon {
  width: 30px;
  height: 20px;
  margin-right: -2px;
}
.header__navbar-item,
.header__navbar-item-link {
  /* inline-block: cho các phần tử nằm trên 1 dòng và có thể tăng kích thước */
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  /* bỏ gạch chân */
  text-decoration: none;
  /* bỏ độ dày của chữ */
  font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}
.header__navbar-item--strong {
  font-weight: 400;
}
.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: #fb9086;
  /* để thanh dọc vào giữa hai chữ */
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}
.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}
.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}
.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 30px;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
}
.header__qr::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: -16px;
}
.header__qr-img {
  width: 100%;
}
.header__qr-app {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__qr-link:nth-child(1) {
  margin-left: 11px;
}
.header__qr-link:nth-child(2) {
  margin-right: 11px;
}
.header__qr-app a:last-child {
  margin-left: 10px;
}
.header__qr-dowload-img {
  height: 15px;
}
/* header notifycation */
.header__notify {
  position: absolute;
  top: 30px;
  width: 350px;
  height: auto;
  right: 10px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotifyGrowth ease-in 0.16s;
  will-change: opacity, transform;
  display: none;
  z-index: 1;
  border-radius: 2px;
}
.header__notify::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 4px;
  top: -30px;
}
.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 20px;
  right: 0;
  top: -16px;
}
.header__notify-languages {
  position: absolute;
  top: 38px;
  width: 200px;
  height: auto;
  right: 10px;
  background-color: white;
  border: 1px solid #d3d3d3;
  cursor: default;
  animation: headerNotifyGrowth ease-in 0.16s;
  will-change: opacity, transform;
  border-radius: 2px;
  display: none;
}
.header__notify-languages::before {
  content: "";
  border-width: 15px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 20px;
  top: -30px;
}
.header__notify-languages::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 20px;
  right: 0px;
  top: 16px;
}
.header__navbar-item--has-notify:hover .header__notify-languages {
  display: block;
}
@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}
.header__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  cursor: text;
  /* không cho bôi đen */
  user-select: none;
}
.header__notify-list {
  padding-left: 0;
  list-style: none;
  background-color: var(--white-color);
  cursor: pointer;
}

.header__notify-item {
  /* display: flex; */
}
.header__notify-item:hover {
}
.header__notify-item--viewed {
  background-color: rgb(238, 77, 45, 0.08);
}
.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
}
.header__notify-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.header__notify-info {
  margin-left: 12px;
}
.header__notify-name {
  display: block;
  color: var(--text-color);
  font-size: 1.4rem;
  /* Làm đậm chữ */
  font-weight: 400;
  line-height: 1.8rem;
}
.header__notify-name:hover {
  color: var(--primary-color);
}
.header__notify-descriotion {
  display: block;
  color: #756f6e;
  font-size: 1.2rem;
  margin-top: 4px;
}
.header__notify-item-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
/* Authen modal */
.auth-form {
  width: 500px;
  overflow: hidden;
  background-color: var(--white-color);
}
.auth-form__container {
  margin-top: 40px;
  padding: 0 32px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}
.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;

  background-color: var(--white-color);
}
.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
  cursor: pointer;
}
.auth-form__form {
}
.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}
.auth-form__aside {
  margin-top: 10px;
}
.auth-form__controls {
  display: flex;
  justify-content: flex-end;
}
.auth-form__policy-text {
  font-size: 1.3rem;
  text-align: center;
  margin: 20px 0 70px 0;
}
.auth-form__policy-text a {
  text-decoration: none;
  color: var(--primary-color);
}
.btn {
  width: 100px;
  border: 0;
  padding: 10px;
  background-color: rgba(0 0 0 0.5);
  cursor: pointer;
  margin-right: 20px;
}
.btn:hover {
  background-color: rgba(0 0 0 0.5);
}
.btn-primary {
  width: 100px;
  border: 0;
  padding: 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.btn-primary:hover {
  cursor: pointer;
}
.auth-form__socials {
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.btn--with-icon {
  width: 150px;
  height: 30px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--border-color);
}
.btn--with-icon:hover {
  cursor: pointer;
}
.btn--with-facebook {
  background-color: #1877f2;
  padding: 0 9px;
}
.btn--with-google {
  background-color: var(--white-color);
}
.auth-form__socials ion-icon {
  margin-right: 15px;
}
/* Login form */
.auth-form__socials .btn--with-sms {
  background-color: rgb(113, 196, 30);
}
.auth-form__help {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 80px 0;
}
.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}
.auth-form__help-separate {
  height: 15px;
  display: block;
  border-left: 1px solid var(--border-color);
  margin: 0 16px;
}
.auth-form__help-forgot {
  color: var(--primary-color);
}
/* Header with search */
.header-with-search {
  display: flex;
  height: var(--header-with-search-height);
  align-items: center;
  margin: 0 8px;
}
.header__logo {
  width: 200px;
}
.header__logo-link {
  text-decoration: none;
  color: transparent;
}
.header__logo-img {
  width: 150px;
}
.header__search-big {
  flex: 1;
  border-radius: 2px;
  background-color: var(--white-color);
  height: 40px;
}
.header__search {
  flex: 1;
  border-radius: 2px;
  background-color: var(--white-color);
  height: 40px;
  display: flex;
  align-items: center;
}
.header__search-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.header__search-list-item {
  margin: 5px 20px 20px 0;
}
.header__search-list-item a {
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--white-color);
}
.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}
.header__cart {
  text-align: center;
  width: 150px;
}
.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding-block-end: 0 8px;
  cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list {
  display: block;
}
.header__cart ion-icon {
  color: var(--white-color);
  font-size: 2.4rem;
  margin-top: 6px;
}
.header__cart-list--no-cart {
  padding: 24px 0;
}
.header__cart-list {
  position: absolute;
  top: calc(100% - 4px);
  right: -12px;
  margin-top: 10px;
  background-color: #fdfdfd;
  width: 400px;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.2s;
  cursor: default;
}
.header__cart-list::after {
  content: "";
  right: 3px;
  top: -26px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  cursor: pointer;
}
.header__cart-no-cart .header__cart-no-cart-img,
.header__cart-no-cart .header__cart-list-no-cart-msg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.header__cart-notice {
  width: 22px;
  height: 18px;
  position: absolute;
  padding: 1px 0;
  background-color: var(--white-color);
  color: var(--primary-color);
  border-radius: 10px;
  border: 1px solid #ee4d2d;
  top: -3px;
  left: 13px;
  font-size: 1.4rem;
  line-height: 16px;
  text-align: center;
}

.header__cart-no-cart-img {
  width: 54%;
  display: none;
}
.header__cart-list-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  color: var(--text-color);
  margin-top: 14px;
}
.header__search-select {
  border-left: 1px solid #ebebeb;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}
.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}
.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}
.header__search-select ion-icon {
  font-size: 1.4rem;
  color: #8b8a8a;
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}
.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  width: 60px;
  height: 34px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}
.header__search-btn:hover {
  background-color: #fb5533;
  cursor: pointer;
}
.header__search-btn ion-icon {
  font-size: 1.4em;
  color: var(--white-color);
}
.header__search-select:hover .header__search-option {
  display: block;
}
.header__search-option {
  position: absolute;
  right: 0;
  top: 30px;
  width: 130px;
  list-style: none;
  box-shadow: 0 1px 2px #e4e3e3;
  padding-left: 0;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.2s;
}
.header__search-option::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 0;
}
.header__search-option-item {
  background-color: var(--white-color);
  padding: 8px;
  text-align: right;
}
.header__search-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header__search-option-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header__search-option-item:hover {
  background-color: #fafafa;
}
.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}
.header__search-option-item ion-icon {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 4px 0 12px;
}
.header__search-input:focus ~ .header__search-history {
  display: block;
}
/* Search history */
.header__search-history {
  position: absolute;
  top: 44px;
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 0 3px #666;
  overflow: hidden;
  display: none;
}
.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}
.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}
.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

/* Cart item */
.header__cart-heading {
  text-align: left;
  margin: 12px 0 12px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header__cart-list-item {
  padding-left: 0;
  list-style: none;
}
.header__cart-item {
  display: flex;
  margin: 12px 12px 20px 12px;
  align-items: center;
}
.header__card-img {
  width: 42px;
  height: 42px;
  margin-right: 10px;
  border: 1px solid var(--border-color);
}
.header__cart-item-info {
  text-align: left;
  width: 100%;
}
.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}
.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
}
.header__cart-item-price-wrap {
  font-size: 1.4rem;
  color: var(--primary-color);
}
.header__cart-item-price {
  font-size: 1.4rem;
  color: var(--primary-color);
}
.header__cart-item-multiphy {
  font-size: 0.9rem;
  color: #757575;
  margin: 0 4px;
}
.header__cart-item-qnt {
  font-size: 1.2rem;
  color: #757575;
}
.header__cart-item-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-item-description {
  font-size: 1.3rem;
  color: #757575;
  font-weight: 300;
}
.header__cart-item-delete {
  font-size: 1.4rem;
  color: #757575;
  font-weight: 520;
}
.header__cart-item-delete:hover {
  cursor: pointer;
  color: var(--primary-color);
}
.header__cart-view-cart {
  font-size: 1.3rem;
  float: right;
  width: 122px;
  height: 34px;
  margin: 10px;
  line-height: 14px;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
}
.header__cart-view-cart:hover {
  background-color: #ee4d2d;
}
/* app__container */
.app__container {
  height: auto;
  background-color: #f5f5f5;
}
.category {
  background-color: var(--white-color);
  border-radius: 2px;
  margin: 5px 0;
}
.category__heading {
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.category__heading ion-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: 1px;
}
.category-list {
  list-style: none;
}
.category-item {
  padding: 8px 16px;
}
.category-item:first-child {
  margin-top: 5px;
}
.category-item--active .category-item__link {
  color: var(--primary-color);
}
.category-item--active .category-item__link::before {
  content: "";
  top: 3px;
  left: -9px;
  position: absolute;
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link {
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
  display: block;
  right: 0;
  color: var(--text-color);
  transition: right linear0.1s;
}
.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
}
/* Start Benner */
.banner {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 30px 0px;
}
.banner__container-top {
  width: 100%;
  height: 300px;
  display: flex;
}
.banner__container-left {
  width: 70%;
  height: 100%;
  margin-right: 5px;
}
.banner__container-left img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.banner__container-right {
  width: 30%;
  height: 100%;
}
.banner__container-right-item {
  height: calc(50% - 2.5px);
}
.banner__container-right-item img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.banner__container-right-item:first-child {
  margin-bottom: 5px;
}
.banner__container-bottom {
  height: auto;
  width: 100%;
}
.banner__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.banner__list-item {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 30px 20px 10px 10px;
}
.banner__list-item a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.3rem;
}
.banner__list-item p {
  text-align: center;
}
.banner__list-item img {
  width: 40px;
  height: 40px;
  margin: auto;
  display: flex;
  margin-bottom: 10px;
}
.banner__list-item:hover {
  transform: translateY(-2px);
}
/* Section */
/* Menu Category */
section {
  background-color: #f5f5f5;
  padding-top: 5px;
}
.menu__categories {
  width: 90%;
  height: auto;
  margin: 20px auto;
  background-color: var(--white-color);
  border-radius: 2px;
}
.menu__categories-header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}
.menu__categories-header h3 {
  font-size: 1.6rem;
  font-weight: 300;
  color: #919090;
}
.menu__categories-list {
  width: 100%;
  height: 300px;
}
.menu__categories-list-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.menu__categories-item {
  width: 130px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.6, 1),
    box-shadow 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}
.menu__categories-item:hover {
  transform: translateZ(0);
  transition: all 0.3s;
  z-index: 1;
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 5%);
}
.menu__categories-item a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.4rem;
}
.menu__categories-item p {
  text-align: center;
}
.menu__categories-item img {
  display: flex;
  width: 85px;
  height: 90px;
  margin: auto;
}
/* Promotion */
.promotion {
  width: 90%;
  height: auto;
  margin: 20px auto;
  background-color: var(--white-color);
  border-radius: 2px;
}
sup {
  vertical-align: top;
}
.promotion__header {
  padding: 20px 23px;
}
.promotion-list-menu {
  display: flex;
  justify-content: space-between;
}
.promotion-menu-item-header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.promotion-menu-item p {
  color: #ee4d2d;
  font-weight: 600;
  font-size: 20px;
}
.promotion__body-item .description {
  height: 50px;
  font-size: 10px;
  display: block;
}
.promotion-menu-item-header span {
  font-size: 1.5rem;
  color: var(--primary-color);
}
.promotion-menu-item-header ion-icon {
  color: var(--primary-color);
  font-size: 1.5rem;
}
.promotion-menu-item {
  display: flex;
  flex-wrap: wrap;
}
.promotion-menu-item img {
  width: auto;
  height: 30px;
}

.promotion__body-list {
  line-height: 15px;
  display: flex;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.promotion__body-item p {
  margin-top: 10px;
}

.promotion__body-item p:last-child {
  font-size: 1.4rem;
  margin-top: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  background-color: var(--primary-color);
  font-weight: 500;
  color: #ffff;
  opacity: 0.6;
}
.promotion__body-item {
  width: 20%;
  height: 300px;
  list-style: none;
  padding: 0 10px;
  min-width: 200px;
}
.promotion__body-item img {
  width: 170px;
  height: 170px;
}
.promotion__body-item a {
  text-decoration: none;
  color: var(--primary-color);
}
/* Simple Banner */
.simple__banner {
  width: 90%;
  height: auto;
  margin: auto;
  background-color: var(--white-color);
  border-radius: 2px;
}
.simple__banner-wrappar img {
  width: 100%;
}
/* Footer */
.line {
  height: 4px;
  background-color: var(--primary-color);
}
.contentinfo__body {
  width: 90%;
  height: auto;
  margin: auto;
  color: #000000;
  opacity: 0.55;
  margin-top: 70px;
}
.contentinfo__body-heading {
  margin: 20px 0 20px 0;
}
footter p,
footter ul {
  font-size: 1.4rem;
  margin-bottom: 20px;
  line-height: 30px;
}
footter span {
  font-weight: bold;
  text-decoration: underline;
}
.contentinfo__body-heading h1 {
  font-size: 1.3rem;
}
/* Footter Category */
::selection {
  background: #1877f2;
  opacity: 1;
  color: #fff;
}
::-moz-selection {
  background: #1877f2;
  opacity: 1;
  color: #fff;
}
::-webkit-selection {
  background: #1877f2;
  opacity: 1;
  color: #fff;
}
.footter__category {
  width: 90%;
  height: auto;
  margin: 50px 0 0 10px;
}

.footter__category__list {
  display: flex;
  padding: 30px 0;
}
.footter__category__item {
  width: 20%;
  height: auto;
}
.category__list-heading {
  margin: 10px;
}
.category__list-heading a:hover {
  color: var(--primary-color);
}
.category__list-content {
  display: flex;
  margin: 10px;
}
.category__list-content a:hover {
  color: var(--primary-color);
}
.category__list-heading a {
  color: var(--black-color);
  font-size: 1.3rem;
  font-weight: 550;
  text-decoration: none;
  line-height: 20px;
}
.category__list-content a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--black-color);
  line-height: 20px;
}
/* Contact */
.contact {
  width: 90%;
  height: auto;
  margin: auto;
}
.contact__list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.contact__list-item-list {
  width: 20%;
  height: auto;
}
.contact__list-heading {
  margin: 20px 20px 20px 8px;
  font-size: 1.3rem;
  font-weight: 550;
}
.contact__list-content {
}
.contact__list-item {
  font-size: 1.3rem;
  font-weight: 300;
  opacity: 0.8;
}
.contact__item {
  list-style: none;
  margin: 10px;
}
.contact__item:hover {
  color: var(--primary-color);
  cursor: pointer;
}
/* Contact Payment */
.contact__img {
  display: flex;
  flex-wrap: wrap;
}
.contact__img-item {
  width: 33%;
  list-style: none;
  margin-bottom: 6px;
}
.contact__img-item a {
  box-shadow: #000000 0.1px 0.2px 0px 0px;
  border-radius: 1px;
}
/* Contact Transport  */
.contact__list-transport {
}
.contact__list-heading {
}
/* Social media */
.social-media {
  width: 20%;
  height: auto;
}
.social-media__heading {
  margin: 20px 20px 20px 8px;
  font-size: 1.3rem;
  font-weight: 550;
}
.social-media__item {
  list-style: none;
  font-size: 1.3rem;
  font-weight: 300;
  opacity: 0.8;
}
.social-media__item-info {
  margin: 10px;
}
.social-media__item-info a {
  text-decoration: none;
  color: var(--black-color);
  display: flex;
  align-items: center;
}
.social-media__item-info a:hover {
  color: var(--primary-color);
}
.social-media__item-info img {
  margin-right: 8px;
}
/* download */
.download {
  width: 20%;
  height: auto;
}
.download__heading {
  margin: 20px 20px 20px 8px;
  font-size: 1.3rem;
  font-weight: 550;
}
.download__list-item {
  display: flex;
}
.download__list-item :first-child {
  margin-right: 5px;
}

.download__item:last-child {
  display: flex;
  flex-direction: column;
}
.download__item:last-child a {
  box-shadow: #000000 0.1px 0.2px 0px 0px;
  border-radius: 1px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 18px;
}
.download__item img {
  margin: 0;
}
/* contact__last */
.contact__last {
  width: 100%;
  height: auto;
  display: flex;
  padding: 40px 0px;
}
.contact__last-permission {
  width: 30%;
}
.contact__last-permission span {
  font-size: 1.3rem;
  font-weight: 300;
}
.contact__last-nation {
  width: 70%;
  font-size: 1.3rem;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
}
.contact__last-nation span {
  margin-right: 5px;
}
.contact__last-nation:hover {
  cursor: pointer;
}
/* Footter two */
.footter-two {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding: 40px 0;
}
.footter-two__list {
  display: flex;
  justify-content: center;
}
.footter-two__list span {
  margin: 0 20px;
  font-size: 1.3rem;
  font-weight: 400;
  opacity: 0.7;
}
.footter-two__list span::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: #f5f5f5;
  /* để thanh dọc vào giữa hai chữ */
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}
.footter-two__list span:nth-child(-n + 3) {
  position: relative;
}
.footter-two__company {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.7;
  margin: 20px 0;
}
.footter-two__document {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 5px;
}
.header__login {
  width: 1200px;
  margin: 0 auto;
  height: 84px;
}
.header__login .header__navbar {
  height: 100%;
}

.header__login .header__item-left {
  display: flex;
  align-items: center;
}
.header__login .header__brand {
  margin: 10px 0 0 10px;
  font-size: 2.3rem;
}
.header__login .header__item-right {
  line-height: 84px;
  text-decoration: none;
  color: #ee4d2d;
  font-size: 15px;
}
.login .wrapper {
  height: 600px;
  background-color: rgb(238, 77, 45);
}
.wrapper .wrapper__content {
  height: 100%;
  background-image: url("https://cf.shopee.vn/file/sg-11134004-23020-75qwyq2a7snv15");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1040px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.wrapper .wrapper__form {
  width: 400px;
  background-color: #fff;
  padding: 0 40px;
  margin: auto 0 auto auto;
}
.wrapper__form-header {
  padding: 3rem 0;
  font-size: 20px;
}
.form__body .form__body-input {
  display: flex;
  flex-direction: column;
}
.form__body-input input {
  padding: 1rem;
  outline: none;
  border: 0.5;
  flex: 1;
  filter: none;
  margin-bottom: 30px;
}
.form__body-input input:last-of-type {
  margin-bottom: 0;
}
.form__body-input button {
  height: 40px;
  text-align: center;
  background-color: #ee4d2d;
  box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-top: 25px;
}
.form__forgot {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.form__forgot a {
  text-decoration: none;
  font-size: 10px;
}
.form__body-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form__body-placeholder span {
  margin: 0 15px;
  color: #dbdbdb;
}
.form__body-placeholder div {
  flex: 1;
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
}
.form__body-other {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.form__body-other .social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.26);
  color: rgba(0, 0, 0, 0.87);
  margin: 5px;
}
.form__body-other .social:nth-child(1) {
  margin-left: -1px;
}
.form__body-other .social:nth-child(3) {
  margin-right: -1px;
}
.form__body-other .social ion-icon {
  width: 22px;
  height: 22px;
}
.wrapper__form .form__footer {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
.form__footer a {
  margin-left: 5px;
  text-decoration: none;
  color: #ee4d2d;
  font-size: 12px;
}
.social p {
  font-size: 12px;
}
